## Important Libraries

In [1]:
import pandas as pd 
import numpy as np

## Load Data

In [2]:
df=pd.read_csv('Churn_Modelling.csv')
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

## Data Preprocessing

### Drop irrelavant columns

In [3]:
df.drop(['RowNumber','CustomerId','Surname'],axis=1,inplace=True)
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

### Convert Categorical columns

In [4]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
df['Gender']=le.fit_transform(df['Gender'])
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0

In [5]:
df_geo=pd.get_dummies(df['Geography'],sparse=False,dtype='int')  
df_geo.head()

   France  Germany  Spain
0       1        0      0
1       0        0      1
2       1        0      0
3       1        0      0
4       0        0      1

In [6]:
df.drop(['Geography'],axis=1,inplace=True)
df=pd.concat([df,df_geo],axis=1)
df.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,France,Germany,Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1,0,0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0,0,1
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1,0,0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1,0,0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0,0,1

## Create Dependent & Independent Features

In [7]:
X=df.drop('EstimatedSalary',axis=1)
y=df['EstimatedSalary']
X

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,Exited,France,Germany,Spain
0,619,0,42,2,0.00,1,1,1,1,1,0,0
1,608,0,41,1,83807.86,1,0,1,0,0,0,1
2,502,0,42,8,159660.80,3,1,0,1,1,0,0
3,699,0,39,1,0.00,2,0,0,0,1,0,0
4,850,0,43,2,125510.82,1,1,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,0,1,0,0
9996,516,1,35,10,57369.61,1,1,1,0,1,0,0
9997,709,0,36,7,0.00,1,0,1,1,1,0,0
9998,772,1,42,3,75075.31,2,1,0,1,0,1,0
9999,792,0,28,4,130142.79,1,1,0,0,1,0,0

## Train-Test Split

In [8]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2, random_state=42)
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(8000, 12)
(2000, 12)
(8000,)
(2000,)

## Feature Scaling

In [9]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)
X_train

array([[ 0.35649971,  0.91324755, -0.6557859 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [-0.20389777,  0.91324755,  0.29493847, ..., -0.99850112,
         1.72572313, -0.57638802],
       [-0.96147213,  0.91324755, -1.41636539, ..., -0.99850112,
        -0.57946723,  1.73494238],
       ...,
       [ 0.86500853, -1.09499335, -0.08535128, ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.15932282,  0.91324755,  0.3900109 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.47065475,  0.91324755,  1.15059039, ..., -0.99850112,
         1.72572313, -0.57638802]])

## Save Encoder and Scalar

In [10]:
import pickle
with open('gender_re.pkl','wb') as file:
    pickle.dump(le,file)

with open('geo_re.pkl','wb') as file:
    pickle.dump(df_geo,file)

with open('scalar_re.pkl','wb') as file:
    pickle.dump(sc,file)

## Create ANN Model

In [11]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [12]:
(X_train.shape[1],) # Number of features in X_train to create input nodes

(12,)

In [13]:
model = Sequential([
    Dense(64, activation='relu', input_shape = (X_train.shape[1],)), #HL-1 with 64 nodes connected to Input layer 
    Dense(32, activation='relu'), # HL-2
    Dense(1) # No activation for Output layer, By deafult, it will consider it as Linear activation (For Regression model)
]
)

f:\Generative AI\GenAI\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [14]:
model.summary()

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

## Forward and Backward Propagation

In [15]:
# Initialize optimizer
opt = tf.keras.optimizers.Adam(learning_rate = 0.01)

In [16]:
 # Model Compilation
model.compile(optimizer=opt,loss='mean_absolute_error', metrics=['mae'])

## Setup Tensor Board for view logs

In [17]:
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime

log_dir="Regressionlogs/fit" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback = TensorBoard(log_dir=log_dir,histogram_freq=1)

## Setup Early Stopping System

In [18]:
earlystopping_callback = EarlyStopping(monitor='val_loss', verbose=1, patience=20, restore_best_weights=True)

## Train Model

In [19]:
history = model.fit(
    X_train,y_train, validation_data = (X_test,y_test), epochs=100, callbacks=[tensorflow_callback,earlystopping_callback]
)

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 6ms/step - loss: 94790.4375 - mae: 94790.4375 - val_loss: 50662.3086 - val_mae: 50662.3086
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49904.8477 - mae: 49904.8477 - val_loss: 50376.3359 - val_mae: 50376.3359
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49133.3672 - mae: 49133.3672 - val_loss: 50354.2109 - val_mae: 50354.2109
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - loss: 49700.1641 - mae: 49700.1641 - val_loss: 50409.3047 - val_mae: 50409.3047
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49186.3008 - mae: 49186.3008 - val_loss: 50374.5469 - val_mae: 50374.5469
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49656.5078 - mae: 49656.5078 - val_loss: 50497.0508 - val_mae: 50497.0508
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49370.3320 - mae: 49370.3320 - val_loss: 50343.1641 - val_mae: 50343.1641
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 50248.2344 - mae: 50248.2344 - val_loss: 50381.0977 - val_mae: 50381.0977
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 48845.9219 - mae: 48845.9219 - val_loss: 50396.5430 - val_mae: 50396.5430
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49394.2812 - mae: 49394.2812 - val_loss: 50572.8906 - val_mae: 50572.8906
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49157.7969 - mae: 49157.7969 - val_loss: 50643.8164 - val_mae: 50643.8164
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49534.4141 - mae: 49534.4141 - val_loss: 50496.7656 - val_mae: 50496.7656
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 48870.2812 - mae: 48870.2812 - val_loss: 50526.8438 - val_mae: 50526.8438
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49177.9570 - mae: 49177.9570 - val_loss: 50639.0117 - val_mae: 50639.0117
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49150.5195 - mae: 49150.5195 - val_loss: 50495.2383 - val_mae: 50495.2383
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 48975.8477 - mae: 48975.8477 - val_loss: 50493.6523 - val_mae: 50493.6523
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49836.8633 - mae: 49836.8633 - val_loss: 50675.2578 - val_mae: 50675.2578
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 48721.0508 - mae: 48721.0508 - val_loss: 50653.6992 - val_mae: 50653.6992
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49824.1758 - mae: 49824.1758 - val_loss: 50524.3594 - val_mae: 50524.3594
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 48787.8516 - mae: 48787.8516 - val_loss: 50784.2969 - val_mae: 50784.2969
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49066.1289 - mae: 49066.1289 - val_loss: 50560.4336 - val_mae: 50560.4336
Epoch 22/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 48545.3242 - mae: 48545.3242 - val_loss: 50635.6172 - val_mae: 50635.6172
Epoch 23/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49483.9727 - mae: 49483.9727 - val_loss: 50574.6562 - val_mae: 50574.6562
Epoch 24/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49264.6836 - mae: 49264.6836 - val_loss: 50420.8594 - val_mae: 50420.8594
Epoch 25/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49692.7812 - mae: 49692.7812 - val_loss: 50759.3477 - val_mae: 50759.3477
Epoch 26/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49349.1328 - mae: 49349.1328 - val_loss: 50586.8594 - val_mae: 50586.8594
Epoch 27/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49518.7422 - mae: 49518.7422 - val_loss: 50623.6680 - val_mae: 50623.6680
Epoch 27: early stopping
Restoring model weights from the end of the best epoch: 7.

## Save Model

In [20]:
model.save('Regression_model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

## Load TensorBoard Extension

In [21]:
%load_ext tensorboard

In [22]:
%tensorboard --logdir Regressionlogs/fit20241014-182650

Reusing TensorBoard on port 6006 (pid 5152), started 1:39:38 ago. (Use '!kill 5152' to kill it.)